{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="page-posts no-padding">
        <div class="row">
            <div class="page page-post col-sm-12 col-xs-12 post-82">
                <div class="blog-posts blog-posts-large">
                    <div class="row">
                        <article class="profile col-sm-12 col-xs-12">
                            <div class="profile-title">
                                <img src="{{ author_path(author.avatar) }}" class="author-image" alt=""/>
                                <div class="author-name">{{ author.name }} {{ author.surname }}</div>
                                {% if author.avatar %}
                                    <a href="{{ path('app_remove_avatar') }}" class="btn btn-default" onclick="return confirm('Are you sure?')">{{ 'Delete avatar'|trans }}</a>
                                {% endif %}
                                <a href="{{ path('app_profile_edit') }}" class="btn btn-default">{{ 'Edit profile'|trans }}</a>
                                <a href="{{ path('app_post_create') }}" class="btn btn-default">{{ 'Create post'|trans }}</a>
                            </div>
                            <div class="profile-description">
                                <p>{% if author.about %}{{ author.about }}{% endif %}</p>
                            </div>
                            <div class="profile-bottom">
                                <div class="profile-post-count">
                                    <span>{{ author.postsCount }} posts</span>
                                </div>
                                <div class="profile-followers">
                                    <a href="#" data-toggle="modal" data-target="#myModal2">{{ author.followersCount }} followers</a>
                                </div>
                                <div class="profile-following">
                                    <a href="#" data-toggle="modal" data-target="#myModal1">{{ author.subscriptionsCount }} following</a>
                                </div>
                            </div>
                        </article>
                        <div class="col-sm-12 col-xs-12">
                            <div class="row profile-posts">
                                {% for post in posts %}
                                <div class="col-md-4 profile-post">
                                    <a href="{{ path('app_show_post', {'id': post.id}) }}"><img src="{{ post_path(post.avatar) }}" class="author-image" alt=""/></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('images/author/_modal-friends.html.twig', {
        'current': author,
        'author': author
    }) }}
{% endblock %}
