{% extends 'base.html.twig' %}

{% block title %}Post {{ post.id }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12">
            Image: <img src="{{ post_path(post.avatar) }}" width="150px;">
            <p>Id: {{ post.id }}</p>
            <p>Post's description: {{ post.description }}</p>
            <p>Author's nickname: {{ post.nickname }}</p>
        </div>
        <div class="col-md-12">
            Likes: <span class="likes-count">{{ post.likesCount }}</span>

            <a href="#" class="btn btn-primary button-like {{ post.isLiked ? 'display-none' : '' }}" data-id="{{ post.id }}">
                Like&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
            </a>
            <a href="#" class="btn btn-primary button-unlike {{ post.isLiked ? '' : 'display-none' }}" data-id="{{ post.id }}">
                Unlike&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>
            </a>
        </div>
    </div>
{% endblock %}
