{% extends 'base.html.twig' %}

{% block title %}Post {{ post.id }}{% endblock %}

{% block body %}
<div class="page-posts no-padding">
    <div class="row">
        <div class="page page-post col-sm-12 col-xs-12">
            <div class="blog-posts blog-posts-large">
                <div class="row">
                    <article class="post col-sm-12 col-xs-12">
                        <div class="post-meta">
                            <div class="post-title">
                                <img src="{{ author_path(post.author_avatar) }}" class="author-image" alt="Author's avatar"/>
                                <div class="author-name"><a href="{{ path('app_authors_show', {'nicknameOrId': post.nickname}) }}">{{ post.nickname }}</a></div>
                            </div>
                        </div>
                        <div class="post-type-image">
                            <a href="#">
                                <img src="{{ post_path(post.avatar) }}" alt="Post's avatar">
                            </a>
                        </div>
                        <div class="post-description">
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="post-bottom">
                            <div class="post-likes">
                                <a href="#" class="btn btn-default button-like {{ post.isLiked ? 'display-none' : '' }}" data-id="{{ post.id }}">
                                    Like&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                                <a href="#" class="btn btn-default button-unlike {{ post.isLiked ? '' : 'display-none' }}" data-id="{{ post.id }}">
                                    Unlike&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>
                                </a>
                                &nbsp;
                                <i class="fa fa-lg fa-heart-o"></i>
                                <span class="likes-count">{{ post.likesCount }}</span>
                            </div>
                            <div class="post-comments">
                                <a href="#"><span class="comment-likes-count likes-count">{{ post.commentsCount }}</span> Comments</a>
                            </div>
                            <div class="post-date">
                                <span>{{ post.date|date }}</span>
                            </div>
                            {% if post.author_id == app.user.id %}
                                <div class="post-report">
                                    <form action="{{ path('app_post_delete', {'id': post.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete-post') }}" />
                                        <input type="hidden" name="author_id" value="{{ post.author_id }}" />
                                        <button type="submit" class="btn btn-link" style="padding: 0">Delete post</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="post-report">
                                    <a href="#">Report post</a>
                                </div>
                            {% endif %}
                        </div>
                    </article>

                    <div class="col-sm-12 col-xs-12">
                        <h4><span class="comment-likes-count likes-count">{{ post.commentsCount }}</span> comments</h4>
                        <div class="comments-post">

                            <div class="single-item-title"></div>
                            <div class="row">
                                <ul class="comment-list">
                                    {% for comment in comments %}
                                    <!-- comment item -->
                                    <li class="comment">
                                        <div class="comment-user-image">
                                            <img class="img-sm" src="{{ author_path(comment.avatar) }}" alt="">
                                        </div>
                                        <div class="comment-info">
                                            <h4 class="author"><a href="{{ path('app_authors_show', {'nicknameOrId': comment.nickname}) }}">{{ comment.nickname }}</a>
                                                ({{ comment.date|date }})<span class="comment-is-updated"> {% if comment.update_date %} {{ 'updated' }} {% endif %}</span>
                                            </h4>
                                            {% if app.user.id == comment.author_id %}
                                                <form action="{{ path('app_comment_remove', {'id': comment.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                                                    <input type="hidden" name="token" value="{{ csrf_token('comment-delete') }}" />
                                                    <input type="hidden" name="post_id" value="{{ post.id }}" />
                                                    <input type="hidden" name="author_id" value="{{ comment.author_id }}" />
                                                    <button type="submit" class="btn btn-danger" style="padding: 0">Delete</button>
                                                </form>
                                                <div class="for-comment-update">

                                                </div>
                                                <button data-comment_id="{{ comment.id }}" data-author_id="{{ comment.author_id }}" type="button" class="btn btn-success comment-update" style="padding: 0">Update</button>
                                            {% endif %}
                                            <p class="comment-text">{{ comment.text }}</p>
                                        </div>
                                    </li>
                                    <!-- comment item -->
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                        <!-- comments-post -->
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="comment-respond">
                            <h4>Leave a Reply</h4>
                            {{ form_start(form, {
                                'attr': {
                                    'id': 'form-create',
                                    'data-id': post.id
                                }
                            }) }}
                            <p class="comment-form-comment">
                                {{ form_row(form.text) }}
                            </p>
                            <p class="form-submit">
                                <button type="submit" class="btn btn-secondary">Send</button>
                            </p>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
