{% extends 'base.html.twig' %}

{% block title %}Post {{ post.id }}{% endblock %}

{% block body %}
<div class="page-posts no-padding">
    <div class="row">
        <div class="page page-post col-sm-12 col-xs-12">
            <div class="blog-posts blog-posts-large">
                <div class="row">
                    <article class="post col-sm-12 col-xs-12">
                        <div class="post-meta">
                            <div class="post-title">
                                <img src="{{ author_path(post.author_avatar) }}" class="author-image" alt="Author's avatar"/>
                                <div class="author-name"><a href="{{ path('app_authors_show', {'nicknameOrId': post.nickname}) }}">{{ post.nickname }}</a></div>
                            </div>
                        </div>
                        <div class="post-type-image">
                            <a href="#">
                                <img src="{{ post_path(post.avatar) }}" alt="Post's avatar">
                            </a>
                        </div>
                        <div class="post-description">
                            <p>{{ post.description }}</p>
                        </div>
                        <div class="post-bottom">
                            <div class="post-likes">
                                <a href="#" class="btn btn-default button-like {{ post.isLiked ? 'display-none' : '' }}" data-id="{{ post.id }}">
                                    Like&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                                <a href="#" class="btn btn-default button-unlike {{ post.isLiked ? '' : 'display-none' }}" data-id="{{ post.id }}">
                                    Unlike&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>
                                </a>
                                &nbsp;
                                <i class="fa fa-lg fa-heart-o"></i>
                                <span class="likes-count">{{ post.likesCount }}</span>
                            </div>
                            <div class="post-comments">
                                <a href="#"><span class="comment-likes-count likes-count">{{ post.commentsCount }}</span> Comments</a>
                            </div>
                            <div class="post-date">
                                <span>{{ post.date|date }}</span>
                            </div>
                            <div class="post-report">
                                <a href="#">Report post</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
        {{ form_start(form, {
            'attr': {
                'id': 'form-create',
                'data-id': post.id
            }
            }) }}
        {{ form_row(form.text) }}
        <button class="btn btn-lg btn-primary" type="submit">
            Left a comment
        </button>
        {{ form_end(form) }}
        <div class="comment-list">
            {% for comment in comments %}
            <div class="media-block">
                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Author's avatar" src="{{ author_path(comment.avatar) }}"></a>
                <p>{{ comment.date|date }} <span class="comment-is-updated">{% if comment.update_date %} {{ 'updated' }} {% endif %}</span></p>
                <div class="media-body">
                    <div class="mar-btm">
                        <a href="{{ path('app_authors_show', {'nicknameOrId': comment.nickname}) }}" class="btn-link text-semibold media-heading box-inline">{{ comment.nickname }}</a>
                        {% if app.user.id == comment.author_id %}
                            <form class="dropdown-item" action="{{ path('app_comment_remove', {'id': comment.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="token" value="{{ csrf_token('comment-delete') }}" />
                                <input type="hidden" name="post_id" value="{{ post.id }}" />
                                <input type="hidden" name="author_id" value="{{ comment.author_id }}" />
                                <button type="submit" class="btn" style="padding: 0">Delete</button>
                            </form>
                            <div class="for-comment-update">

                            </div>
                            <button data-comment_id="{{ comment.id }}" data-author_id="{{ comment.author_id }}" type="submit" class="btn comment-update" style="padding: 0">Update</button>
                        {% endif %}
                    </div>
                    <p class="comment-text">{{ comment.text }}</p>
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
