{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-posts no-padding">
        <div class="row">
            <div class="page page-post col-sm-12 col-xs-12 post-82">
                <div class="blog-posts blog-posts-large">
                    <div class="row">
                        <article class="profile col-sm-12 col-xs-12">
                            <div class="profile-title">
                                <img src="{{ author_path(author.author.avatar) }}" class="author-image" alt=""/>
                                <div class="author-name">{{ author.author.name }} {{ author.author.surname }}</div>
                                {% if author.isSubscribed == false %}
                                    <a href="{{ path('app_subscribe', {'id': author.author.id}) }}"
                                       class="btn btn-default">Subscribe</a>
                                {% else %}
                                    <a href="{{ path('app_unsubscribe', {'id': author.author.id}) }}"
                                       class="btn btn-default">Unsubscribe</a>
                                {% endif %}
                            </div>
                            <div class="profile-description">
                                {% if author.author.about %}
                                    <p style="padding-bottom: 5px;">{{ author.author.about }}</p>
                                {% endif %}
                                <hr>
                                <p>Friends, who are also subscribed to this author:
                                    {% for mutualFriends in author.mutualFriends %}
                                        <a href="{{ path('app_authors_show', {'nicknameOrId': mutualFriends.nickname}) }}">{{ mutualFriends.nickname }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="profile-bottom">
                                <div class="profile-post-count">
                                    <span>{{ author.author.postsCount }} posts</span>
                                </div>
                                <div class="profile-followers">
                                    <a href="#" data-toggle="modal"
                                       data-target="#myModal2">{{ author.author.followersCount }} followers</a>
                                </div>
                                <div class="profile-following">
                                    <a href="#" data-toggle="modal"
                                       data-target="#myModal1">{{ author.author.subscriptionsCount }} following</a>
                                </div>
                            </div>
                        </article>
                        <div class="col-sm-12 col-xs-12">
                            <div class="row profile-posts">
                                {% for post in posts %}
                                    <div class="col-md-4 profile-post">
                                        <a href="{{ path('app_show_post', {'id': post.id}) }}"><img
                                                src="{{ post_path(post.avatar) }}" class="author-image" alt=""/></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('images/author/_modal-friends.html.twig', {
        'current': currentAuthor,
        'author': author.author
    }) }}
{% endblock %}
