{% for item in feed %}
    <article class="post col-sm-12 col-xs-12">
        <div class="post-meta">
            <div class="post-title">
                <img src="{{ author_path(item.author_avatar) }}" class="author-image" alt=""/>
                <div class="author-name"><a href="{{ path('app_authors_show', {'nicknameOrId': item.author_nickname}) }}">{{ item.author_nickname }}</a></div>
            </div>
        </div>
        <div class="post-type-image">
            <a href="{{ path('app_show_post', {'id': item.post_id}) }}">
                <img src="{{ post_path(item.post_avatar) }}" alt="Post's avatar">
            </a>
        </div>
        <div class="post-description">
            <p>{{ item.post_description }}</p>
        </div>
        <div class="post-bottom">
            <div class="post-likes">
                <a href="#" class="btn btn-default button-like {{ item.isLiked ? 'display-none' : '' }}" data-id="{{ item.post_id }}">
                    Like&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <a href="#" class="btn btn-default button-unlike {{ item.isLiked ? '' : 'display-none' }}" data-id="{{ item.post_id }}">
                    Unlike&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
                &nbsp;
                <i class="fa fa-lg fa-heart-o"></i>
                <span class="likes-count">{{ item.likesCount }}</span>
            </div>
            <div class="post-comments">
                <a href="{{ path('app_show_post', {'id': item.post_id}) }}"><span class="likes-count">{{ item.commentsCount }}</span> Comments</a>

            </div>
            <div class="post-date">
                <span>{{ item.post_date|date }}</span>
            </div>
            <div class="post-report">
                <a href="#">Report post</a>
            </div>
        </div>
    </article>
{% endfor %}
