{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <a href="{{ path('app_change_name') }}">Edit name</a>
            {% if author %}
                <a href="{{ path('app_my_profile') }}">Show profile</a>
            {% else %}
                <a href="{{ path('app_author_create') }}">Create Profile</a>
            {% endif %}
        </div>
        <div class="col-12">
            <p>Name: {{ user.name.name }}</p>
            <p>Surname: {{ user.name.surname }}</p>
        </div>
    </div>
{% endblock %}
